<div class="footer">
	<a target="_blank" href="https://www.pinterest.com/lcstudiophotos/">
		<img src="/images/icons/42/pinterest42.png">
	</a>
	<a target="_blank" href="https://www.facebook.com/lcstudiophotos/">
		<img src="/images/icons/42/facebook42.png">
	</a>
	<a target="_blank" href="https://www.twitter.com/lcstudiophotos/">
		<img src="/images/icons/42/twitter42.png">
	</a>
	<a target="_blank" href="https://www.instagram.com/lcstudiophotos/">
		<img src="/images/icons/42/instagram42.png">
	</a>
</div>