<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/pics.css">
</head>
<body>
	<% include includes/nav.ejs %>
	<div class="container">
		<h1>
			Commissioned works 
		</h1>
		<p>
			I, unfortunately am unable to shoot events due to the necessity to maintain a job that pays the rent. However, if you were looking to
			commission a photograph or set of phtographs for a particular purpose or in general. I would be happy to sit down and talk to you about it. Please fill out an email to me below and I will get back to you
		</p>

		<form method="POST" action="/commissionRequest">
			<input type="text" placeholder="Full Name" name="name">
			<input type="text" placeholder="email Address" name="email">
			<textarea type="text" placeholder="message" rows="10" name="body"></textarea>
			<input type="submit" value="Send">
		</form>

	</div>
</body>
</html>