<!DOCTYPE html>
<html>
<head>
	<title>Light Colours Studio</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>

	<div class="nav-content">
		<div class="title">
			Light Colours Studio
		</div>		
		<hr>
		<div class="page-bar">
			<div class="link">
				<a href="/about">About</a>
			</div>
			<div class="link">
				<a href="/projects">Projects</a>
			</div>
			<div class="link">
				<a href="/prints">Prints</a>
			</div>
			<div class="link">
				<a href="/profile">Profiles</a>
			</div>
		</div>
	</div>

</body>
</html>
