<!DOCTYPE html>
<html>
<head>
	<title>Profiles</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/pics.css">
</head>
<body>
	<% include includes/nav.ejs %>
	<div class="container">
		<h1>
			Street Performers
		</h1>
		<p>
			We are always very impressed and not just a little bit awed by the talent and skill that can be found for free on city street corners and Plazas. Street performers are one of the few constants that stretch to every major city, or at least everyone we have visited. These are a very ecclectic group of people with diverse backgrounds and histories spanning all walks of life. Recently, we decided to start talking to these artists and cataloging some of their stories here.
		</p>

		<div class="profile-block">
			<div class="header">
			Kieran
			</div>
			<img src="/images/projects/profile/kiernan.jpg" class="left-pic">
			<p>
				We met Kieran, an irish singer, guitarist, and harmonicaist, on the sidewalk playing a rather beautiful somber tune.
			</p>
			<p class="quote"> "I do this to make some money to buy things. I used to drive a truck, but I just really love music. I've been doing this for about four years, most of that was in France. I came here because it's a little bit warmer and it's easier to this here in the winter which can make playing outside much more difficult at times."</p>
		</div>
		
		<div class="profile-block">
			<div class="header">
			Olivier
			</div>
			<img src="/images/projects/profile/olivier.jpg" class="right-pic">
			<p>

				Olivier, is a violinist who we met in a park playing an ecclectic range of music. We watched him for a while before approaching. Our first impression was how happy he looked playing music. 

			</p>
			<p class="quote"> 

				"I've been playing about ten years now. I first started doing this back home. I'm from a small highland town, but we get a lot of tourists in the summer, I was about fifteen the first time I did this. It wasn't as bad since I knew the people I was playing for. Now I just do this when I travel and it's very nice because when I get to a new city the first thing I do is look around the center of the city for a good place to play music." 
			</p>
			<p>
				Originally from Montreal, Olivier has played in many different countries, mainly in eurpe, he continues to do this to meet people.
			</p>
			<p class="quote">
				"I make some money and if not I always meet some people. Meeting people is by far the most interesting part of traveling. Cities are beautiful but people are the most beautiful part of a city"
			</p>					
		</div>
		
		<div class="profile-block">
			
			<div class="header">
				Skill Dealers
				<a href="https://www.facebook.com/sdc.fanpage" target="_blank"><img align="center" src="/images/icons/42/facebook42.png"></a>
			</div>
			<img src="/images/projects/profile/skilldealers2.jpg" class="left-pic">
			<img src="/images/projects/profile/skilldealers1.jpg" class="left-pic">
			<p>
				Skill Dealers is a group of performers who we saw putting on a show in the city centre. A diverse group of performers, Skill Dealers has a little bit of everything from music to acrobatics and humor.
			</p>
			<p class="quote">
				"We've been performing almost 12 years now. We perform with mixed lyrics, acts, acrobatics, really a little bit of everything and then we put on a show for the people. We stay here mainly but we'll go to other cities for festivals when we get offers. The main member of the crew started doing this by himself in the beginning but people come and go and it's ended up with this formation. The best part of this is that we create everything ourselves, the space, the show, everything it's a lot of fun since everyone in this group loves doing what we're doing now."
			</p>
		</div>
	</div>

		<% include includes/footer.ejs %>
</body>
</html>